@charset "utf-8";

body {
  background: navy;  
     max-width: 900px;
     margin: auto;
     
}

main {
  padding: 0;
  background: white;
  BORDER-RADIUS: 5px;
}



h1{
  text-align: center;

}



article p{
  text-align: justify;
}

button:hover {
  text-decoration: none;
}